<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="top-section">
                <h1>Prospect Company Research</h1>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </div>
        </header>
        
        <div class="content">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flashed-messages">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            
            {% block content %}{% endblock %}
        </div>
        
        <footer>
            <p>Meta Meta job application project 11/25/2024</p>
        </footer>
    </div>
</body>
</html>

