{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <header>
            <h1>Login to use</h1>
            <p>Prospect Company Research</p>
        </header>
        <form method="post" action="{{ url_for('login') }}">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
    </div>
{% endblock %}